
.app-header { background-color: #fbfbfb }
.navbar-brand { background-color: #ddeefb }
.app-aside { border-right: 1px solid #bad0df; background-color: #ddeefb }
.app-aside .children { background-color: #d4e9fa }
.app-aside .children .aside-item:hover { background-color: #cae8fb }
.app-aside .aside-item, .app-aside .children .fold-header { color: #454648 }
.app-aside .aside-item > i { color: #454648; background-color: #b4d9f6 }
.app-aside .aside-item.parent:after { color: #454648 }
.app-aside .aside-item:hover { background-color: #d4e9fa; color: #007aff }
.app-aside .aside-item:hover > i { color: #007aff }
.app-aside .aside-divider { border-color: #c7dcea }
.app-aside .aside-item.active { background-color: #cae8fb; color: #007aff; border-color: #b1dbf9 }
.app-aside .aside-item.active > i { color: #007aff }
.app-aside .aside-item.opened { background-color: #d4e9fa }
.app-aside .aside-item.opened, .app-aside .aside-item.opened > i, .app-aside .aside-item.opened > span { color: #007aff }
.aside-folded .app-aside .children { border: 1px solid #bad0df }
@media (max-width: 991px) {
  .app-aside .children { border: 1px solid #bad0df }
}