
.app-header { background-color: #fbfbfb }
.navbar-brand { background-color: #fb9a89 }
.app-aside { border-right: 1px solid #dd7189; background-color: #fb9a89 }
.app-aside .children { background-color: #fda293 }
.app-aside .children .aside-item:hover { background-color: #d68475 }
.app-aside .aside-item, .app-aside .children .fold-header { color: #494c4e }
.app-aside .aside-item > i { color: #494c4e; background-color: #e18a7b }
.app-aside .aside-item.parent:after { color: #494c4e }
.app-aside .aside-item:hover { background-color: #fda293; color: #111 }
.app-aside .aside-item:hover > i { color: #111 }
.app-aside .aside-divider { border-color: #e79080 }
.app-aside .aside-item.active { background-color: #d68475; color: #111; border-color: #c5796c }
.app-aside .aside-item.active > i { color: #111 }
.app-aside .aside-item.opened { background-color: #fda293 }
.app-aside .aside-item.opened, .app-aside .aside-item.opened > i, .app-aside .aside-item.opened > span { color: #111 }
.aside-folded .app-aside .children { border: 1px solid #dd7189 }
@media (max-width: 991px) {
  .app-aside .children { border: 1px solid #dd7189 }
}