<div class="p-3 bg-white"><h1 class="h3 m-0">Projects</h1></div>
<div class="input-holder bg-white ng-scope"><i class="ti-search"></i> <input type="text" class="form-control b-0 bg-no no-shadow" data-ng-model="searchText" autofocus="" style="" placeholder="Search project...">
  <div class="operation">
    <button type="button" class="btn btn-link data-ng-hide" data-ng-show="searchText.length >= 1" data-ng-click="searchText = ''"><i class="fa fa-times fa-fw"></i></button>
  </div>
</div>
<div class="ml-3 hidden-xs">
  <div class="row ofx-hidden text-muted">
    <div class="col-md-4 col-sm-4">
      <div class="p-3px">Data</div>
    </div>
    <div class="col-md-1 col-sm-1 text-center">
      <div class="p-3px">Due</div>
    </div>
    <div class="col-md-2 col-sm-2 text-center">
      <div class="p-3px">Commits</div>
    </div>
    <div class="col-md-2 col-sm-2 text-center">
      <div class="p-3px">Activity</div>
    </div>
    <div class="col-md-3 col-sm-3 text-right">
      <div class="p-3px">Members</div>
    </div>
  </div>
</div>
<ul class="list-group">
  <li>
    <div class="item-content py-0 ">
      <div class="row r-sm-table">
        <div class="col-md-4 c-sm-cell">
          <div class="my-3"><i class="fa fa-desktop fa-3x float-left text-muted fa-fw"></i>
            <div class="h4 m-0"><a href class="text-primary"><strong>WebApp</strong></a></div>
            <div class="text-muted font-sm mb-3px"> Short description of the project</div>
            <span> <span class="tag tag-tag">AngularJS</span> <span class="tag tag-tag">NodeJS</span> </span></div>
        </div>
        <div class="col-md-1 col-sm-4 c-sm-cell">
          <div class="my-3 text-center text-danger"> 3 days</div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center ">
            <div class="sparkline-commit">41, 42, 43, 44, 42, 43, 44</div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center">
            <div class="sparkline-activity">33, 34, 35, 36, 35, 33</div>
          </div>
        </div>
        <div class="col-md-3 c-sm-cell">
          <div class="my-3 text-right"><span class="thumb mr-3px"> <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs"> <i class="on bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar2.jpg"
                                                                                                                                                                                                            class="rounded-circle thumb-xxs"> <i
              class="off bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs"> <i class="away bottom"></i> </span> <span class="thumb mr-3px"> <img
              src="/static/img/avatar.jpg"
              class="rounded-circle thumb-xxs"> <i
              class="on bottom"></i> </span>
            <button type="button" class="btn btn-secondary rounded btn-sm"><strong>+5</strong></button>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="item-content py-0 ">
      <div class="row r-sm-table">
        <div class="col-md-4 c-sm-cell">
          <div class="my-3"><i class="fa fa-apple-phone fa-3x float-left text-muted fa-fw"></i>
            <div class="h4 m-0"><a href class="text-primary"><strong>MobileApp</strong></a></div>
            <div class="text-muted font-sm mb-3px"> Short description of the project</div>
            <span> <span class="tag tag-tag">TitaniumMobile</span> <span class="tag tag-tag">PhoneGap</span> </span></div>
        </div>
        <div class="col-md-1 col-sm-4 c-sm-cell">
          <div class="my-3 text-center text-warning"> 5 days</div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center ">
            <div class="sparkline-commit">11, 15, 16, 17, 18, 19, 20</div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center">
            <div class="sparkline-activity">11, 15, 16, 17, 18, 19, 20</div>
          </div>
        </div>
        <div class="col-md-3 c-sm-cell">
          <div class="my-3 text-right"><span class="thumb mr-3px"> <img src="/static/img/avatar2.jpg" class="rounded-circle thumb-xxs"> <i class="on bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar.jpg"
                                                                                                                                                                                                             class="rounded-circle thumb-xxs"> <i
              class="off bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs"> <i class="away bottom"></i> </span></div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="item-content py-0 ">
      <div class="row r-sm-table">
        <div class="col-md-4 c-sm-cell">
          <div class="my-3"><i class="fa fa-tablet fa-3x float-left text-muted fa-fw"></i>
            <div class="h4 m-0"><a href class="text-primary"><strong>TabletApp</strong></a></div>
            <div class="text-muted font-sm mb-3px"> Short description of the project</div>
            <span> <span class="tag tag-tag">NodeJS</span> <span class="tag tag-tag">CSS</span> </span></div>
        </div>
        <div class="col-md-1 col-sm-4 c-sm-cell">
          <div class="my-3 text-center"> 10 days</div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center ">
            <div class="sparkline-commit">44, 44, 23, 25, 29, 11, 12</div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center">
            <div class="sparkline-activity">11, 22, 44, 36, 55, 66</div>
          </div>
        </div>
        <div class="col-md-3 c-sm-cell">
          <div class="my-3 text-right"><span class="thumb mr-3px"> <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs"> <i class="on bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar2.jpg"
                                                                                                                                                                                                            class="rounded-circle thumb-xxs"> <i
              class="off bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs"> <i class="away bottom"></i> </span> <span class="thumb mr-3px"> <img
              src="/static/img/avatar.jpg"
              class="rounded-circle thumb-xxs"> <i
              class="on bottom"></i> </span>
            <button type="button" class="btn btn-secondary rounded btn-sm"><strong>+2</strong></button>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="item-content py-0 ">
      <div class="row r-sm-table">
        <div class="col-md-4 c-sm-cell">
          <div class="my-3"><i class="fa fa-file-archive-o fa-3x float-left text-muted fa-fw"></i>
            <div class="h4 m-0"><a href class="text-primary"><strong>ImportApp</strong></a></div>
            <div class="text-muted font-sm mb-3px"> Short description of the project</div>
            <span> <span class="tag tag-tag">MongoDB</span> <span class="tag tag-tag">MySQL</span> </span></div>
        </div>
        <div class="col-md-1 col-sm-4 c-sm-cell">
          <div class="my-3 text-center"> 1 month</div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center ">
            <div class="sparkline-commit">22, 11, 21, 55, 53, 66, 62</div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center">
            <div class="sparkline-activity">11, 33, 22, 44, 33, 12</div>
          </div>
        </div>
        <div class="col-md-3 c-sm-cell">
          <div class="my-3 text-right"><span class="thumb mr-3px"> <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs"> <i class="on bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar.jpg"
                                                                                                                                                                                                            class="rounded-circle thumb-xxs"> <i
              class="off bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs"> <i class="away bottom"></i> </span> <span class="thumb mr-3px"> <img
              src="/static/img/avatar2.jpg"
              class="rounded-circle thumb-xxs"> <i
              class="on bottom"></i> </span>
            <button type="button" class="btn btn-secondary rounded btn-sm"><strong>+1</strong></button>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="item-content py-0 ">
      <div class="row r-sm-table">
        <div class="col-md-4 c-sm-cell">
          <div class="my-3"><i class="fa fa-desktop fa-3x float-left text-muted fa-fw"></i>
            <div class="h4 m-0"><a href class="text-primary"><strong>WebApp</strong></a></div>
            <div class="text-muted font-sm mb-3px"> Short description of the project</div>
            <span> <span class="tag tag-tag">AngularJS</span> <span class="tag tag-tag">NodeJS</span> </span></div>
        </div>
        <div class="col-md-1 col-sm-4 c-sm-cell">
          <div class="my-3 text-center text-danger"> 3 days</div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center ">
            <div class="sparkline-commit">41, 42, 43, 44, 42, 43, 44</div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center">
            <div class="sparkline-activity">33, 34, 35, 36, 35, 33</div>
          </div>
        </div>
        <div class="col-md-3 c-sm-cell">
          <div class="my-3 text-right"><span class="thumb mr-3px"> <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs"> <i class="on bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar2.jpg"
                                                                                                                                                                                                            class="rounded-circle thumb-xxs"> <i
              class="off bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs"> <i class="away bottom"></i> </span> <span class="thumb mr-3px"> <img
              src="/static/img/avatar.jpg"
              class="rounded-circle thumb-xxs"> <i
              class="on bottom"></i> </span>
            <button type="button" class="btn btn-secondary rounded btn-sm"><strong>+5</strong></button>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="item-content py-0 ">
      <div class="row r-sm-table">
        <div class="col-md-4 c-sm-cell">
          <div class="my-3"><i class="fa fa-apple-phone fa-3x float-left text-muted fa-fw"></i>
            <div class="h4 m-0"><a href class="text-primary"><strong>MobileApp</strong></a></div>
            <div class="text-muted font-sm mb-3px"> Short description of the project</div>
            <span> <span class="tag tag-tag">TitaniumMobile</span> <span class="tag tag-tag">PhoneGap</span> </span></div>
        </div>
        <div class="col-md-1 col-sm-4 c-sm-cell">
          <div class="my-3 text-center text-warning"> 5 days</div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center ">
            <div class="sparkline-commit">11, 15, 16, 17, 18, 19, 20</div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center">
            <div class="sparkline-activity">11, 32, 34, 44, 65, 66</div>
          </div>
        </div>
        <div class="col-md-3 c-sm-cell">
          <div class="my-3 text-right"><span class="thumb mr-3px"> <img src="/static/img/avatar2.jpg" class="rounded-circle thumb-xxs"> <i class="on bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar.jpg"
                                                                                                                                                                                                             class="rounded-circle thumb-xxs"> <i
              class="off bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs"> <i class="away bottom"></i> </span></div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="item-content py-0">
      <div class="row r-sm-table">
        <div class="col-md-4 c-sm-cell">
          <div class="my-3"><i class="fa fa-tablet fa-3x float-left text-muted fa-fw"></i>
            <div class="h4 m-0"><a href class="text-primary"><strong>TabletApp</strong></a></div>
            <div class="text-muted font-sm mb-3px"> Short description of the project</div>
            <span>
              <span class="tag tag-tag">NodeJS</span>
              <span class="tag tag-tag">CSS</span>
            </span>
          </div>
        </div>
        <div class="col-md-1 col-sm-4 c-sm-cell">
          <div class="my-3 text-center"> 10 days</div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center ">
            <div class="sparkline-commit">44, 44, 23, 25, 29, 11, 12</div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center">
            <div class="sparkline-activity">11, 22, 44, 36, 55, 66</div>
          </div>
        </div>
        <div class="col-md-3 c-sm-cell">
          <div class="my-3 text-right">
            <span class="thumb mr-3px">
              <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs">
              <i class="on bottom"></i>
            </span>
            <span class="thumb mr-3px">
              <img src="/static/img/avatar2.jpg" class="rounded-circle thumb-xxs">
              <i class="off bottom"></i>
            </span>
            <span class="thumb mr-3px">
              <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs">
              <i class="away bottom"></i>
            </span>
            <span class="thumb mr-3px">
              <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs">
              <i class="on bottom"></i>
            </span>
            <button type="button" class="btn btn-secondary rounded btn-sm"><strong>+2</strong></button>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="item-content py-0 ">
      <div class="row r-sm-table">
        <div class="col-md-4 c-sm-cell">
          <div class="my-3"><i class="fa fa-file-archive-o fa-3x float-left text-muted fa-fw"></i>
            <div class="h4 m-0"><a href class="text-primary"><strong>ImportApp</strong></a></div>
            <div class="text-muted font-sm mb-3px"> Short description of the project</div>
            <span> <span class="tag tag-tag">MongoDB</span> <span class="tag tag-tag">MySQL</span> </span></div>
        </div>
        <div class="col-md-1 col-sm-4 c-sm-cell">
          <div class="my-3 text-center"> 1 month</div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center ">
            <div class="sparkline-commit">22, 11, 21, 55, 53, 66, 62</div>
          </div>
        </div>
        <div class="col-md-2 col-sm-4 c-sm-cell">
          <div class="my-3 text-center">
            <div class="sparkline-activity">22, 11, 21, 55, 53, 66, 62</div>
          </div>
        </div>
        <div class="col-md-3 c-sm-cell">
          <div class="my-3 text-right"><span class="thumb mr-3px"> <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs"> <i class="on bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar.jpg"
                                                                                                                                                                                                            class="rounded-circle thumb-xxs"> <i
              class="off bottom"></i> </span> <span class="thumb mr-3px"> <img src="/static/img/avatar.jpg" class="rounded-circle thumb-xxs"> <i class="away bottom"></i> </span> <span class="thumb mr-3px"> <img
              src="/static/img/avatar2.jpg"
              class="rounded-circle thumb-xxs"> <i
              class="on bottom"></i> </span>
            <button type="button" class="btn btn-secondary rounded btn-sm"><strong>+1</strong></button>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
<div class="my-5 text-center">
  <ul class="pagination">
    <li class="disabled page-item"><a href="#" class='page-link'>«</a></li>
    <li class="active page-item"><a href="#" class='page-link'>1 <span class="sr-only">(current)</span></a></li>
    <li class='page-item'><a href="#" class='page-link'>2</a></li>
    <li class='page-item'><a href="#" class='page-link'>3</a></li>
    <li class='page-item'><a href="#" class='page-link'>»</a></li>
  </ul>
</div>
