<div class="p-3 bg-white">
  <h1 class="h3 m-0">Search result</h1>
</div>
<div class="input-holder bg-white">
  <i class="ti-search"></i>
  <input type="text" class="form-control b-0 bg-no no-shadow" data-ng-model="searchText" autofocus placeholder="Type keyword...">
  <div class="operation">
    <button type="button" class="btn btn-link data-ng-hide" data-ng-show="searchText.length >= 1" data-ng-click="searchText = ''">
      <i class="fa fa-times fa-fw"></i>
    </button>
  </div>
</div>

<div class="p-3 relative">
  <div class="mb-3 ml-5 text-success">113 result for: Keyword <span class="float-right text-muted mr-5">0.3ms</span></div>

  <div class="card mb-3">
    <ul class="nav nav-tabs nav-line pl-3 ofx-hidden">
      <li class="nav-item">
        <a class="active nav-link"><span>All</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <span>Projects (2)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><span>Users (3)</span></a>
      </li>
    </ul>
    <div class="card-block bb-l">
      <div class="p-2">
        <div class="h4 m-0 mb-5"><a>Project 1</a></div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="bg-success text-white">Keyword</span>
        Morbi id neque quam. A, fermentum diam. Vivamus vel tincidunt libero, vitae eleamus vel tincidunt libero, vitae
        elementum ligula amus vel tincidunt libero, vitae elementum ligula mentum ligula venenatis ipsum ac feugiat.
        Vestibulum ullamcorper sodales nisi nec condimentum
        <div class="font-xs text-muted mt-3">(Found in: description)</div>
      </div>
    </div>
    <div class="card-block bb-l">
      <div class="p-2">
        <div class="h4 m-0 mb-5"><a>Itarate 23</a></div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi <span
        class="bg-success text-white">Keyword</span> id neque quam. Aliquam sollicitudin egestas dui nec, fermentum m
        ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec c amus vel tincidunt libero, vitae
        elementum ligula ondimentum amus vel tincidunt libero, vitae elementum ligula
        <div class="font-xs text-muted mt-3">(Found in: title and users)</div>
      </div>
    </div>
    <div class="card-block bb-l">
      <div class="p-2">
        <div class="h4 m-0 mb-5"><a>User: John Doe</a></div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui
        nec, fermentum dintum ligula <span class="bg-success text-white">Keyword</span> venenatis ipsum ac feugiat.
        Vestibulum ullamcorper sodales <span class="bg-success text-white">Keyword</span> nisi nec condimentum
        <div class="font-xs text-muted mt-3">(Found in: name and position)</div>
      </div>
    </div>
    <div class="card-block bb-l">
      <div class="p-2">
        <div class="h4 m-0 mb-5"><a>Project 22</a></div>
        Lorem ipsum <span class="bg-success text-white">Keyword</span> dolor sit amet, consectetur adipiscing elit.
        Morbi id neque quam. Aliquam sollicitudicidunt libero, vitae elementum ligula venenatis ipsum ac feugiat.
        Vestibulum ullamcorper sodales nisi nec condimentum amus vel tincidunt libero, vitae elementum ligula
        <div class="font-xs text-muted mt-3">(Found in: something)</div>
      </div>
    </div>
    <div class="card-block bb-l">
      <div class="p-2">
        <div class="h4 m-0 mb-5"><a>Project 1</a></div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="bg-success text-white">Keyword</span>
        Morbi id neque quam. vamus vel tincidunt lib venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec
        condimentum
        <div class="font-xs text-muted mt-3">(Found in: description)</div>
      </div>
    </div>
    <div class="card-block bb-l">
      <div class="p-2">
        <div class="h4 m-0 mb-5"><a>Itarate 23</a></div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi <span
        class="bg-success text-white">Keyword</span> id neque quam. Aliquam sollivamus vel tincidunt libero, vitaamus
        vel tincidunt libero, vitae elementum ligula amus vel tincidunt libero, vitae elementum ligula e elementum
        ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum
        <div class="font-xs text-muted mt-3">(Found in: title and users)</div>
      </div>
    </div>
    <div class="card-block bb-l">
      <div class="p-2">
        <div class="h4 m-0 mb-5"><a>User: John Doe</a></div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas diam.
        e elementum ligula <span class="bg-success text-white">Keyword</span> veVestibulum ullamcorper sodales <span
        class="bg-success text-white">Keyword</span> nisi nec condimentum
        <div class="font-xs text-muted mt-3">(Found in: name and position)</div>
      </div>
    </div>
    <div class="card-block bb-l">
      <div class="p-2">
        <div class="h4 m-0 mb-5"><a>Project 22</a></div>
        Lorem ipsum <span class="bg-success text-white">Keyword</span> doloamus vel tincidunt libero, vitae elementum
        ligula amus vel tincidunt libero, vitae elementum ligula r sit amet, consectetur adipiscing eliquam sollicitudin
        ege. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper
        sodales nisi nec condimentum
        <div class="font-xs text-muted mt-3">(Found in: something)</div>
      </div>
    </div>
    <div class="card-block text-center">
      <ul class="pagination m-0">
        <li class="disabled page-item"><a class="page-link">«</a></li>
        <li class="active page-item"><a href class="page-link">1 <span class="sr-only">(current)</span></a></li>
        <li class="page-item"><a href class="page-link">2</a></li>
        <li class="page-item"><a href class="page-link">3</a></li>
        <li class="page-item"><a href class="page-link">4</a></li>
        <li class="page-item"><a href class="page-link">5</a></li>
        <li class="page-item"><a href class="page-link">»</a></li>
      </ul>
    </div>
  </div>
</div>
